<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId_1</key>
	<dict>
		<key>name</key>
		<string>quick_coll</string>
		<key>icon</key>
		<string>shortcut_coll_v8</string>
		<key>url</key>
		<string>http://collaboration.v5.cmp/v1.0.0/html/newCollaboration.html</string>
		<key>color</key>
		<string>2719739</string>
		<key>sort</key>
		<string>0</string>
	</dict>
	<key>appId_1_2</key>
	<dict>
		<key>name</key>
		<string>quick_form</string>
		<key>icon</key>
		<string>shortcut_form_v8</string>
		<key>url</key>
		<string>http://collaboration.v5.cmp/v1.0.0/html/templateIndex.html</string>
		<key>color</key>
		<string>3845627</string>
		<key>sort</key>
		<string>1</string>
	</dict>
	<key>appId_scan</key>
	<dict>
		<key>name</key>
		<string>quick_scan</string>
		<key>icon</key>
		<string>short_cut_list_scan_icon</string>
		<key>url</key>
		<string>http://commons.m3.cmp/v1.0.0/m3-scan-page.html</string>
		<key>color</key>
		<string>16762112</string>
		<key>sort</key>
		<string>2</string>
	</dict>
	<key>appId_61</key>
	<dict>
		<key>name</key>
		<string>quick_groupchat</string>
		<key>icon</key>
		<string>short_cut_list_chat_icon</string>
		<key>url</key>
		<string>http://uc.v5.cmp/v1.0.0/html/ucGroupList.html</string>
		<key>rcUrl</key>
		<string>http://uc.v5.cmp/v1.0.0/html/ucStartChatPage.html</string>
		<key>rcName</key>
		<string>quick_chat</string>
		<key>color</key>
		<string>1233056</string>
		<key>sort</key>
		<string>3</string>
	</dict>
	<key>appId_6</key>
	<dict>
		<key>name</key>
		<string>quick_meeting</string>
		<key>icon</key>
		<string>shortcut_meeting_v8</string>
		<key>url</key>
		<string>http://meeting.v5.cmp/v1.0.0/html/meetingCreate.html</string>
		<key>color</key>
		<string>2719739</string>
		<key>sort</key>
		<string>4</string>
	</dict>
	<key>appId_30</key>
	<dict>
		<key>name</key>
		<string>quick_task</string>
		<key>icon</key>
		<string>shortcut_task_v8</string>
		<key>url</key>
		<string>http://taskmanage.v5.cmp/v/html/taskEditor.html</string>
		<key>color</key>
		<string>3845627</string>
		<key>sort</key>
		<string>5</string>
	</dict>
	<key>appId_11</key>
	<dict>
		<key>name</key>
		<string>quick_schedule</string>
		<key>icon</key>
		<string>shortcut_schedule_v8</string>
		<key>url</key>
		<string>http://calendar.v5.cmp/v1.0.0/html/newCalEvent.html</string>
		<key>color</key>
		<string>5816725</string>
		<key>sort</key>
		<string>6</string>
	</dict>
	<key>appId_36</key>
	<dict>
		<key>name</key>
		<string>quick_attendance</string>
		<key>icon</key>
		<string>shortcut_attendance_v8</string>
		<key>url</key>
		<string>http://attendance.v5.cmp/v1.0.0/html/attendanceIndex.html</string>
		<key>color</key>
		<string>3845627</string>
		<key>sort</key>
		<string>7</string>
	</dict>
</dict>
</plist>
