<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMPThemeInterfaceStyleLight</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>theme-bgc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc2</key>
			<dict>
				<key>value</key>
				<string>#3DA6FF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc3</key>
			<dict>
				<key>value</key>
				<string>#58C195</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc4</key>
			<dict>
				<key>value</key>
				<string>#FF7979</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc5</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>main-fc</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cont-fc</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>desc-fc</key>
			<dict>
				<key>value</key>
				<string>#666666</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>reverse-fc</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc1</key>
			<dict>
				<key>value</key>
				<string>#999999</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc2</key>
			<dict>
				<key>value</key>
				<string>#92A4B5</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc3</key>
			<dict>
				<key>value</key>
				<string>#D4D4D4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>tapsup-fc</key>
			<dict>
				<key>value</key>
				<string>#586A95</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>theme-fc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc1</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc2</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc3</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>white-bg</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>white-bg1</key>
			<dict>
				<key>value</key>
				<string>#FEFEFE</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>p-bg</key>
			<dict>
				<key>value</key>
				<string>#F8F9FB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>input-bg</key>
			<dict>
				<key>value</key>
				<string>#F3F5FB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>gray-bgc</key>
			<dict>
				<key>value</key>
				<string>#F4F4F4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>liactive-bgc</key>
			<dict>
				<key>value</key>
				<string>#EEEEEE</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>mask-bgc</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<real>0.5</real>
			</dict>
			<key>warnmark-bgc</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<real>0.2</real>
			</dict>
			<key>errormask-bgc</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<real>0.2</real>
			</dict>
			<key>cont-bgc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<real>0.4</real>
			</dict>
			<key>hl-bgc1</key>
			<dict>
				<key>value</key>
				<string>#61B109</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-bgc2</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-bgc3</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cmp-bdc</key>
			<dict>
				<key>value</key>
				<string>#E4E4E4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cmp-line</key>
			<dict>
				<key>value</key>
				<string>#E4E4E4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>theme-bdc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>dark-bgc</key>
			<dict>
				<key>value</key>
				<string>#585858</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>gray-bgc1</key>
			<dict>
				<key>value</key>
				<string>#E4E4E4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>qk-bg-scan</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-bg-doc</key>
			<dict>
				<key>value</key>
				<string>#58C195</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-bg-meet</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-main-bg-border</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>qk-main-bg</key>
			<dict>
				<key>value</key>
				<string>#F0F0F0</string>
				<key>alpha</key>
				<real>0.27</real>
			</dict>
			<key>icon-color</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>alert-bg</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>dark-bgc2</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<real>0.75</real>
			</dict>
		</dict>
	</dict>
	<key>CMPThemeInterfaceStyleDark</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>theme-bgc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc2</key>
			<dict>
				<key>value</key>
				<string>#3DA6FF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc3</key>
			<dict>
				<key>value</key>
				<string>#58C195</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc4</key>
			<dict>
				<key>value</key>
				<string>#FF7979</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>app-bgc5</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>main-fc</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cont-fc</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>desc-fc</key>
			<dict>
				<key>value</key>
				<string>#666666</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>reverse-fc</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc1</key>
			<dict>
				<key>value</key>
				<string>#999999</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc2</key>
			<dict>
				<key>value</key>
				<string>#92A4B5</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>sup-fc3</key>
			<dict>
				<key>value</key>
				<string>#D4D4D4</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>tapsup-fc</key>
			<dict>
				<key>value</key>
				<string>#586A95</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>theme-fc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc1</key>
			<dict>
				<key>value</key>
				<string>#61B109</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc2</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-fc3</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>white-bg</key>
			<dict>
				<key>value</key>
				<string>#191919</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>white-bg1</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>p-bg</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>input-bg</key>
			<dict>
				<key>value</key>
				<string>#191919</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>gray-bgc</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>liactive-bgc</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>mask-bgc</key>
			<dict>
				<key>value</key>
				<string>#000000</string>
				<key>alpha</key>
				<real>0.75</real>
			</dict>
			<key>warnmark-bgc</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<real>0.2</real>
			</dict>
			<key>errormask-bgc</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<real>0.2</real>
			</dict>
			<key>cont-bgc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<real>0.4</real>
			</dict>
			<key>hl-bgc1</key>
			<dict>
				<key>value</key>
				<string>#61B109</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-bgc2</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>hl-bgc3</key>
			<dict>
				<key>value</key>
				<string>#FF4141</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cmp-bdc</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>cmp-line</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>theme-bdc</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>dark-bgc</key>
			<dict>
				<key>value</key>
				<string>#585858</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>gray-bgc1</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>qk-bg-scan</key>
			<dict>
				<key>value</key>
				<string>#297FFB</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-bg-doc</key>
			<dict>
				<key>value</key>
				<string>#58C195</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-bg-meet</key>
			<dict>
				<key>value</key>
				<string>#FF9900</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>qk-main-bg-border</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<real>0.7</real>
			</dict>
			<key>qk-main-bg</key>
			<dict>
				<key>value</key>
				<string>#F0F0F0</string>
				<key>alpha</key>
				<real>0.9</real>
			</dict>
			<key>icon-color</key>
			<dict>
				<key>value</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>alert-bg</key>
			<dict>
				<key>value</key>
				<string>#333333</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
			<key>dark-bgc2</key>
			<dict>
				<key>value</key>
				<string>#585858</string>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
