<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid_associate</key>
	<dict>
		<key>name</key>
		<string>msg_associate</string>
		<key>icon</key>
		<string>msg_associate.png</string>
		<key>backColor</key>
		<integer>1233056</integer>
	</dict>
	<key>appid_intelligent</key>
	<dict>
		<key>name</key>
		<string>msg_push</string>
		<key>icon</key>
		<string>msg_push.png</string>
		<key>backColor</key>
		<integer>7569911</integer>
	</dict>
	<key>appid_at_me</key>
	<dict>
		<key>name</key>
		<string>msg_mention</string>
		<key>icon</key>
		<string>msg_mention.png</string>
		<key>backColor</key>
		<real>11983133</real>
	</dict>
	<key>appid_track</key>
	<dict>
		<key>name</key>
		<string>msg_track</string>
		<key>icon</key>
		<string>msg_track.png</string>
		<key>backColor</key>
		<real>5544444</real>
	</dict>
	<key>appid_leadership</key>
	<dict>
		<key>name</key>
		<string>msg_leader</string>
		<key>icon</key>
		<string>msg_leader.png</string>
		<key>backColor</key>
		<real>5544444</real>
	</dict>
	<key>appid_1</key>
	<dict>
		<key>name</key>
		<string>msg_coll</string>
		<key>icon</key>
		<string>msg_coll.png</string>
		<key>backColor</key>
		<real>3980031</real>
	</dict>
	<key>appid_4</key>
	<dict>
		<key>name</key>
		<string>msg_edoc</string>
		<key>icon</key>
		<string>msg_edoc.png</string>
		<key>backColor</key>
		<real>16765720</real>
	</dict>
	<key>appid_5</key>
	<dict>
		<key>name</key>
		<string>msg_plan</string>
		<key>icon</key>
		<string>msg_plan.png</string>
		<key>backColor</key>
		<integer>16756084</integer>
	</dict>
	<key>appid_7</key>
	<dict>
		<key>name</key>
		<string>msg_bul</string>
		<key>icon</key>
		<string>msg_bul.png</string>
		<key>backColor</key>
		<real>16236584</real>
	</dict>
	<key>appid_8</key>
	<dict>
		<key>name</key>
		<string>msg_news</string>
		<key>icon</key>
		<string>msg_news.png</string>
		<key>backColor</key>
		<integer>16730184</integer>
	</dict>
	<key>appid_10</key>
	<dict>
		<key>name</key>
		<string>msg_inquire</string>
		<key>icon</key>
		<string>msg_inquire.png</string>
		<key>backColor</key>
		<integer>4688088</integer>
	</dict>
	<key>appid_6</key>
	<dict>
		<key>name</key>
		<string>msg_meeting</string>
		<key>icon</key>
		<string>msg_meeting.png</string>
		<key>backColor</key>
		<integer>10602240</integer>
	</dict>
	<key>appid_3</key>
	<dict>
		<key>name</key>
		<string>msg_doc</string>
		<key>icon</key>
		<string>msg_doc.png</string>
		<key>backColor</key>
		<integer>5100539</integer>
	</dict>
	<key>appid_17</key>
	<dict>
		<key>name</key>
		<string>msg_wages</string>
		<key>icon</key>
		<string>msg_wages.png</string>
		<key>backColor</key>
		<integer>16757760</integer>
	</dict>
	<key>appid_46</key>
	<dict>
		<key>name</key>
		<string>msg_BehaviorPerformance</string>
		<key>icon</key>
		<string>msg_BehaviorPerformance.png</string>
		<key>backColor</key>
		<integer>10000126</integer>
	</dict>
	<key>appid_9</key>
	<dict>
		<key>name</key>
		<string>msg_bbs</string>
		<key>icon</key>
		<string>msg_bbs.png</string>
		<key>backColor</key>
		<integer>9286143</integer>
	</dict>
	<key>appid_48</key>
	<dict>
		<key>name</key>
		<string>msg_queyreport</string>
		<key>icon</key>
		<string>msg_queyreport.png</string>
		<key>backColor</key>
		<integer>2613432</integer>
	</dict>
	<key>appid_61</key>
	<dict>
		<key>name</key>
		<string>msg_zhixin</string>
		<key>icon</key>
		<string>msg_zhixin.png</string>
		<key>backColor</key>
		<integer>2613432</integer>
	</dict>
	<key>appid_9999</key>
	<dict>
		<key>name</key>
		<string>msg_offlineDoc</string>
		<key>icon</key>
		<string>msg_offlineDoc.png</string>
		<key>backColor</key>
		<integer>15747657</integer>
	</dict>
	<key>appid_60</key>
	<dict>
		<key>name</key>
		<string>msg_MyCollection</string>
		<key>icon</key>
		<string>msg_MyCollection.png</string>
		<key>backColor</key>
		<real>3980031</real>
	</dict>
	<key>appid_36</key>
	<dict>
		<key>name</key>
		<string>msg_attendance</string>
		<key>icon</key>
		<string>msg_attendance.png</string>
		<key>backColor</key>
		<integer>3845627</integer>
	</dict>
	<key>appid_30</key>
	<dict>
		<key>name</key>
		<string>msg_task</string>
		<key>icon</key>
		<string>msg_task.png</string>
		<key>backColor</key>
		<integer>6267621</integer>
	</dict>
	<key>appid_11</key>
	<dict>
		<key>name</key>
		<string>msg_schedule</string>
		<key>icon</key>
		<string>msg_schedule.png</string>
		<key>backColor</key>
		<real>3980031</real>
	</dict>
	<key>appid_40</key>
	<dict>
		<key>name</key>
		<string>msg_show</string>
		<key>icon</key>
		<string>msg_show.png</string>
		<key>backColor</key>
		<integer>16744362</integer>
	</dict>
	<key>appid_42</key>
	<dict>
		<key>name</key>
		<string>msg_BehaviorPerformance</string>
		<key>icon</key>
		<string>msg_BehaviorPerformance.png</string>
		<key>backColor</key>
		<real>3980031</real>
	</dict>
	<key>appid_63</key>
	<dict>
		<key>name</key>
		<string>msg_ReportShow</string>
		<key>icon</key>
		<string>msg_ReportShow.png</string>
		<key>backColor</key>
		<real>3980031</real>
	</dict>
	<key>appid_12</key>
	<dict>
		<key>name</key>
		<string>msg_SystemMsg</string>
		<key>icon</key>
		<string>msg_SystemMsg.png</string>
		<key>backColor</key>
		<integer>2017957</integer>
	</dict>
	<key>appid_2</key>
	<dict>
		<key>name</key>
		<string>msg_form</string>
		<key>icon</key>
		<string>msg_form.png</string>
		<key>backColor</key>
		<real>1553347</real>
	</dict>
	<key>appid_26</key>
	<dict>
		<key>name</key>
		<string>msg_IntegratedOffice</string>
		<key>icon</key>
		<string>msg_IntegratedOffice.png</string>
		<key>backColor</key>
		<real>11112429</real>
	</dict>
	<key>appid_14</key>
	<dict>
		<key>name</key>
		<string>msg_project</string>
		<key>icon</key>
		<string>msg_project.png</string>
		<key>backColor</key>
		<real>6267621</real>
	</dict>
	<key>appid_99</key>
	<dict>
		<key>name</key>
		<string>msg_outMsg</string>
		<key>icon</key>
		<string>msg_out.png</string>
		<key>backColor</key>
		<integer>1823977</integer>
	</dict>
	<key>appid_70</key>
	<dict>
		<key>name</key>
		<string>msg_reportCenter</string>
		<key>icon</key>
		<string>msg_reportcenter.png</string>
		<key>backColor</key>
		<real>5028095</real>
	</dict>
</dict>
</plist>
