<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENSURVEY</key>
	<dict>
		<key>appId</key>
		<string>10</string>
		<key>name</key>
		<string>调查</string>
		<key>info</key>
		<string>打开调查</string>
	</dict>
	<key>OPENTASK</key>
	<dict>
		<key>appId</key>
		<string>30</string>
		<key>name</key>
		<string>任务</string>
		<key>info</key>
		<string>打开任务</string>
	</dict>
	<key>OPENSTATISTICS</key>
	<dict>
		<key>appId</key>
		<string>48</string>
		<key>name</key>
		<string>统计</string>
		<key>info</key>
		<string>打开统计</string>
	</dict>
	<key>OPENARRANGE</key>
	<dict>
		<key>appId</key>
		<string>11</string>
		<key>name</key>
		<string>时间安排</string>
		<key>info</key>
		<string>打开时间安排</string>
	</dict>
	<key>OPENDOCUMENT</key>
	<dict>
		<key>appId</key>
		<string>4</string>
		<key>name</key>
		<string>公文</string>
		<key>info</key>
		<string>打开公文</string>
	</dict>
	<key>OPENDOC</key>
	<dict>
		<key>appId</key>
		<string>3</string>
		<key>name</key>
		<string>文档</string>
		<key>info</key>
		<string>打开文档</string>
	</dict>
	<key>OPENSIGN</key>
	<dict>
		<key>appId</key>
		<string>36</string>
		<key>name</key>
		<string>签到</string>
		<key>info</key>
		<string>打开签到</string>
	</dict>
	<key>OPENNEWS</key>
	<dict>
		<key>appId</key>
		<string>8</string>
		<key>name</key>
		<string>新闻</string>
		<key>info</key>
		<string>打开新闻</string>
	</dict>
	<key>OPENMEET</key>
	<dict>
		<key>appId</key>
		<string>6</string>
		<key>name</key>
		<string>会议</string>
		<key>info</key>
		<string>打开会议</string>
	</dict>
	<key>OPENBUL</key>
	<dict>
		<key>appId</key>
		<string>7</string>
		<key>name</key>
		<string>公告</string>
		<key>info</key>
		<string>打开公告</string>
	</dict>
	<key>OPENFLOW</key>
	<dict>
		<key>appId</key>
		<string>1</string>
		<key>name</key>
		<string>协同</string>
		<key>info</key>
		<string>打开协同</string>
	</dict>
	<key>OPENDISCUSS</key>
	<dict>
		<key>appId</key>
		<string>9</string>
		<key>name</key>
		<string>讨论</string>
		<key>info</key>
		<string>打开讨论</string>
	</dict>
	<key>OPENSHOW</key>
	<dict>
		<key>appId</key>
		<string>40</string>
		<key>name</key>
		<string>享空间</string>
		<key>info</key>
		<string>打开享空间</string>
	</dict>
	<key>OPENSALARY</key>
	<dict>
		<key>appId</key>
		<string>17</string>
		<key>name</key>
		<string>工资条</string>
		<key>info</key>
		<string>打开工资条</string>
	</dict>
	<key>OPENSTORE</key>
	<dict>
		<key>appId</key>
		<string>60</string>
		<key>name</key>
		<string>我的收藏</string>
		<key>info</key>
		<string>打开我的收藏</string>
	</dict>
	<key>OPENPERFORMANCE</key>
	<dict>
		<key>appId</key>
		<string>42</string>
		<key>name</key>
		<string>行为绩效</string>
		<key>info</key>
		<string>打开行为绩效</string>
	</dict>
	<key>OPENREPORT</key>
	<dict>
		<key>appId</key>
		<string>70</string>
		<key>name</key>
		<string>报表</string>
		<key>info</key>
		<string>打开报表</string>
	</dict>
	<key>OPENMINE</key>
	<dict>
		<key>appId</key>
		<string>56</string>
		<key>name</key>
		<string>我的</string>
		<key>info</key>
		<string>打开我的</string>
	</dict>
	<key>OPENTODOLIST</key>
	<dict>
		<key>appId</key>
		<string>58</string>
		<key>name</key>
		<string>待办</string>
		<key>info</key>
		<string>打开待办</string>
	</dict>
	<key>OPENADDBOOK</key>
	<dict>
		<key>appId</key>
		<string>62</string>
		<key>name</key>
		<string>通讯录</string>
		<key>info</key>
		<string>打开通讯录</string>
	</dict>
</dict>
</plist>
