<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOOKUPFLOW</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchColl</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>1</string>
	</dict>
	<key>LOOKUPBUL</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchBul</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>3</string>
	</dict>
	<key>LOOKUPDOC</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchDoc</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>2</string>
	</dict>
	<key>LOOKUPSTA</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchStatistics</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>5</string>
	</dict>
	<key>LOOKUPNEWS</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchNews</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>4</string>
	</dict>
	<key>LOOKUPSMARTMSG</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchSmartMsg</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>QUIT</key>
	<dict>
		<key>selector</key>
		<string>handleFoQuit</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>DISAGREE</key>
	<dict>
		<key>selector</key>
		<string>handleForDisagree</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>AGREE</key>
	<dict>
		<key>selector</key>
		<string>handleForAgree</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>MODIFY</key>
	<dict>
		<key>selector</key>
		<string>handleForModify</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>NUMSELECTION</key>
	<dict>
		<key>selector</key>
		<string>handleForIndex</string>
		<key>changeAction</key>
		<false/>
	</dict>
	<key>ARRANGE</key>
	<dict>
		<key>selector</key>
		<string>handleForSchedule</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>6</string>
	</dict>
	<key>LEAVE</key>
	<dict>
		<key>selector</key>
		<string>handleForLeave</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>LOOKUPPERSON</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchPerson</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>10</string>
		<key>break</key>
		<true/>
	</dict>
	<key>SENDMESSAGE</key>
	<dict>
		<key>selector</key>
		<string>handleForSendSMS</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>8</string>
		<key>break</key>
		<true/>
	</dict>
	<key>CALL</key>
	<dict>
		<key>selector</key>
		<string>handleForCall</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>7</string>
		<key>break</key>
		<true/>
	</dict>
	<key>SENDIMMESSAGE</key>
	<dict>
		<key>selector</key>
		<string>handleForSendIMMsg</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>9</string>
	</dict>
	<key>HELP</key>
	<dict>
		<key>selector</key>
		<string>handleForHelp</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>LOOKUP</key>
	<dict>
		<key>selector</key>
		<string>handleForSearch</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>CREATEFLOW</key>
	<dict>
		<key>selector</key>
		<string>handleForCreateColl</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>11</string>
	</dict>
	<key>LOOKUPEXPENSE</key>
	<dict>
		<key>selector</key>
		<string>handleForSearchExpense</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>MORE</key>
	<dict>
		<key>selector</key>
		<string>handleForMore</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>OPEN</key>
	<dict>
		<key>selector</key>
		<string>handleForOpen</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>CREATESCHEDULE</key>
	<dict>
		<key>selector</key>
		<string>handleForCreateSchedule</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>OpenM3APP</key>
	<dict>
		<key>selector</key>
		<string>openM3StandardApp</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>CreateForm</key>
	<dict>
		<key>selector</key>
		<string>handleCreateForm</string>
		<key>changeAction</key>
		<true/>
	</dict>
	<key>QAAction</key>
	<dict>
		<key>selector</key>
		<string>handleQA</string>
		<key>changeAction</key>
		<false/>
	</dict>
	<key>AppIntent</key>
	<dict>
		<key>selector</key>
		<string>handleAppIntent</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>12</string>
		<key>break</key>
		<true/>
	</dict>
	<key>FAQ_APP_OPEN</key>
	<dict>
		<key>selector</key>
		<string>handleOpenApp</string>
		<key>changeAction</key>
		<true/>
		<key>break</key>
		<true/>
	</dict>
	<key>FAQ_APP_TEMPLATE</key>
	<dict>
		<key>selector</key>
		<string>handleOpenApp</string>
		<key>changeAction</key>
		<true/>
		<key>break</key>
		<true/>
	</dict>
	<key>FAQ_APP_FORM</key>
	<dict>
		<key>selector</key>
		<string>handleAppFormIntent</string>
		<key>changeAction</key>
		<true/>
		<key>state</key>
		<string>13</string>
	</dict>
</dict>
</plist>
