<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CANCEL</key>
	<array>
		<string>取消</string>
		<string>不发送</string>
		<string>否</string>
		<string>不</string>
		<string>放弃</string>
		<string>不发了</string>
		<string>放弃发送</string>
		<string>算了</string>
		<string>算了吧</string>
		<string>算了不发了</string>
		<string>帮我取消</string>
		<string>不发送</string>
		<string>不发送了</string>
		<string>算了放弃</string>
		<string>取消小致</string>
	</array>
	<key>QUIT</key>
	<array>
		<string>再见</string>
		<string>退出</string>
		<string>关闭</string>
		<string>拜拜</string>
		<string>goodbye</string>
	</array>
	<key>SEARCH</key>
	<array>
		<string>查找</string>
	</array>
	<key>SEND</key>
	<array>
		<string>ok</string>
		<string>发送</string>
		<string>提交</string>
		<string>确定</string>
		<string>确定发送</string>
		<string>直接发送</string>
		<string>马上发送</string>
		<string>立即发送</string>
		<string>发送吧</string>
		<string>是</string>
		<string>是的</string>
		<string>好的</string>
		<string>好</string>
		<string>可以</string>
		<string>OK</string>
		<string>确认发送吧</string>
		<string>可以发送</string>
		<string>发吧</string>
		<string>现在发送</string>
		<string>发给他吧</string>
		<string>发给她吧</string>
		<string>可以发了</string>
		<string>好了</string>
		<string>好了小致</string>
		<string>好了可以发了</string>
		<string>好了可以发送了</string>
		<string>可以发送了</string>
		<string>嗯可以发了</string>
		<string>帮我发吧</string>
		<string>发</string>
		<string>发出去</string>
		<string>发出去吧</string>
		<string>ok发吧</string>
		<string>继续发送</string>
		<string>是的继续发送</string>
		<string>嗯继续发送</string>
		<string>嗯发吧</string>
	</array>
	<key>OPEN</key>
	<array>
		<string>打开</string>
		<string>修改</string>
		<string>查看</string>
		<string>浏览</string>
		<string>选择</string>
		<string>编辑</string>
		<string>调整</string>
		<string>修改修改</string>
		<string>修改一下</string>
		<string>我再修改一下</string>
		<string>先修改一下</string>
		<string>改一下</string>
		<string>我再改一下</string>
		<string>让我再改一下</string>
		<string>那我再改一下</string>
		<string>调整一下</string>
		<string>让我再调整一下</string>
		<string>那我再调整一下</string>
		<string>调整调整</string>
		<string>我再改一下</string>
	</array>
	<key>DETERMINE</key>
	<array>
		<string>确定</string>
		<string>确认</string>
	</array>
</dict>
</plist>
