<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.seeyou.m3-s-data</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.microsoft.powerpoint.pptx</string>
				<string>public.item</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.word.docx</string>
				<string>com.adobe.pdf</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.excel.xlsx</string>
				<string>public.image</string>
				<string>public.content</string>
				<string>public.composite-content</string>
				<string>public.archive</string>
				<string>public.audio</string>
				<string>public.movie</string>
				<string>public.text</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>M3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.seeyon.m3.inhouse.dis</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>seeyonM3Phone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cmp.desktop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cmpDemoDesktop</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cmp.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx69d33515b83bf2d9</string>
				<string>QQ41E74AA1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoa3args05ss9frnvg1</string>
				<string>dingoa60rtlsol9qbhbian</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>um.60371ae9425ec25f10038902</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20240613105308</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ltjhtest</string>
		<string>ltjhlive</string>
		<string>seeyonzhumu</string>
		<string>sycmpipad</string>
		<string>sycmpiphone</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>wechat</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>timapi</string>
		<string>mqqopensdkminiapp</string>
		<string>quanshiappios</string>
		<string>KingsoftOfficeApp</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>dingoa3args05ss9frnvg1</string>
		<string>KingsoftOfficeAppEnterprise</string>
		<string>zhumu</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>comgooglemaps</string>
		<string>qqmap</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>uppaywallet</string>
		<string>wemeet</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MOBAppKey</key>
	<string>17fe9d51b75b0</string>
	<key>MOBAppSecret</key>
	<string>ac1c911624af870e74ea574ae095540b</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow M3 Use your Calendars.</string>
	<key>NSCameraUsageDescription</key>
	<string>Use your Camera to record video, using VoIP features.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow M3 Use your Contact.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow M3 Use your Location always.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow M3 Use your Location always.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphoneDesciption</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow M3 Use your PhotoLibrary.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow M3 Use your PhotoLibrary.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Molecules Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.seeyon.m3.inhouse.dis</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_100</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_100</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>jpg,excel,docx</string>
				<key>public.mime-type</key>
				<string>image/jpg,image/png</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
